<a href="https://colab.research.google.com/github/sabrina2342/AI-lab-notebook-/blob/main/sabrina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NOTEBOOK-2**

/ IF statement /

In [5]:
grade = 85
if grade >= 60:
    print("passed")

passed

/ if else statement /

In [6]:
grade =85
if grade>=60:
   print("passed")
else:
   print("fail")

passed

In [8]:
result = ('Passed' if grade >= 60 else 'Failed') 
print(result)

Passed

/ F...elif....else statemen /

In [10]:
grade = 77

if grade >= 90: 
  print('A')
elif grade >= 80: 
  print('B')
elif grade >= 70: 
  print('C')
elif grade >= 60: 
  print('D')
else:
  print('F')

C

/ While Statement /

In [13]:
number = 1
while (number<10):
    print(number, end=" ") 
    number+=1

1 2 3 4 5 6 7 8 9

In [14]:
product = 3
while product<=50: 
  product = product*3
  print(product)

9
27
81

/ For statement /

In [15]:
for character in "programming": 
  print(character, end=" ")

p r o g r a m m i n g

In [16]:
for counter in range(10): 
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [20]:
total = 0
for number in range(5): 
  total = total+number
  print(total)

0
1
3
6
10

In [21]:
for number in range(5,10): 
  print(number, end=" ")

5 6 7 8 9

In [23]:
for number in range(0,10,2): 
  print(number, end=" ")

0 2 4 6 8

In [24]:
for number in range(10,0,-2): 
  print(number, end=" ")

10 8 6 4 2

In [25]:
number =	int(input())

6563

In [26]:
for i in range(1,11): 
  print(number,"X",i,"=",number*i)

6563 X 1 = 6563
6563 X 2 = 13126
6563 X 3 = 19689
6563 X 4 = 26252
6563 X 5 = 32815
6563 X 6 = 39378
6563 X 7 = 45941
6563 X 8 = 52504
6563 X 9 = 59067
6563 X 10 = 65630

In [29]:
for left in range(7):
  for right in range(left,7): 
     print("["+str(left)+"|"+str(right)+"]", end =" ")
     print()

[0|0]
[0|1]
[0|2]
[0|3]
[0|4]
[0|5]
[0|6]
[1|1]
[1|2]
[1|3]
[1|4]
[1|5]
[1|6]
[2|2]
[2|3]
[2|4]
[2|5]
[2|6]
[3|3]
[3|4]
[3|5]
[3|6]
[4|4]
[4|5]
[4|6]
[5|5]
[5|6]
[6|6]

In [30]:
for number in range(10): 
  if	number==5:
     break
  print(number, end=" ")

0 1 2 3 4